<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="icon" type="image/png" href="../../public/icon-192x192.png" />
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <link rel="manifest" href="../../manifest.json" />
  </head>
  <body>
    <header>
      <h2></h2>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>&copy; 2025 Mi Aplicación</p>
    </footer>

    <script src="../../public/js/app.js"></script>
  </body>
</html>