<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - PWA</title>
    <link rel="icon" type="image/png" href="../../public/icon-192x192.png" />
    <link rel="manifest" href="../../manifest.json" />
    <link rel="stylesheet" href="../../public/css/app.css">
  </head>
  <body>
    <header>
    </header>

    <main>
      {{ content }}
    </main>
    <script src="../../public/js/login.js"></script>
    <script src="../../public/js/app.js"></script>
  </body>
</html>